<div class="container" style="text-align: center">
<br>
<h1><u><em>BOARD OF DIRECTORS<em></u></h1>


<div class="row">
    <div class="col-lg-12 text-center">
        <h3>A MESSAGE FROM THE PRESIDENT</h3>
        <p>This is a message from the President.</p>
        <hr class="star-primary">
        <p> DANIEL	MORRISON</p>
        <p><%= mail_to "MORRISOND0331@GMAIL.COM", "Email  Mr. Morrison", subject: "Greetings Mr. President" %></p>
    
<hr>

        <h3>VICE PRESIDENT</h3>
        <hr class="star-primary">
        <p> HONGDAO MENG</p>
        <p><%= mail_to "HONGDAO.MENG@GMAIL.COM", "Email  Mr. Meng", subject: "Greetings Mr. Vice President" %></p>

<hr>

        <h3>TREASURER</h3>
        <hr class="star-primary">
        <p> ZAC ATLAS</p>
        <p><%= mail_to "ZDATLAS@GMAIL.COM", "Email  Mr. Atlas", subject: "Greetings Mr. Treasurer" %></p>
 
<hr>

        <h3>SECRETARY</h3>
        <hr class="star-primary">
        <p> VICKI KASPER</p>
        <p><%= mail_to "VKASPER2@GMAIL.COM", "Email  Ms. Kasper", subject: "Greetings Ms. Secretary" %></p>
    </div>
</div> <hr>


<h3><%= link_to 'BACK HOME', root_path %></h3>
</div>
