<div class="container" style="text-align: center">
<br>
<br>
<h1>HOA DOCUMENTS</h1>
<p style="color:red">These are all of our HOA documents. <br> (We should decide the most approproate title and order structure)</p>
<div>
	<ol>
		<li>
			<%= link_to "2016 Insurance Declarations", "/2016_Insurance_Dec_Pages.pdf", :target => "_blank" %>
		</li>
		<li>
			<%= link_to "Amended and Restated Declaration of Covenants Restrictions and Easements", "/Amended_and_Restated_Declaration_of_Covenants_Restrictions_and_Easements.pdf", :target => "_blank" %>
		</li>
		<li>
			<%= link_to "Approved Mayfair 2016 Budget", "/Approved_Mayfair_2016_Budget_to_UL.pdf", :target => "_blank" %>
		</li>
		<li>
			<%= link_to "Fining Resolution Schedule", "/Fining_Resolution___Schedule_signed.pdf", :target => "_blank" %>
		</li>
		<li>
			<%= link_to "Lease Addendum 2012", "/Lease_Addendum_2012.pdf", :target => "_blank" %>
		</li>
		<li>
			<%= link_to "Mayfair 2013 Approved Budget", "/Mayfair_2013_Approved_Budget_FOR_UPLOAD.pdf", :target => "_blank" %>
		</li>
		<li>
			<%= link_to "Mayfair 2014 Approved Budget", "/Mayfair_2014_Approved_Budget_for_UL.pdf", :target => "_blank" %>
		</li>
		<li>
			<%= link_to "Mayfair 2015 Approved Budget", "/Mayfair_2015_Approved_Budget_9_19_14.pdf", :target => "_blank" %>
		</li>
		<li>
			<%= link_to "Mayfair Articles of Incorporation", "/855_Mayfair_Articles_of_Incorporation.pdf", :target => "_blank" %>
		</li>
		<li>
			<%= link_to "Mayfair By Laws", "/855_Mayfair_By_Laws.pdf", :target => "_blank" %>
		</li>
		<li>
			<%= link_to "Mayfair Declaration Amendment", "/Mayfair_Declaration_Amendment.pdf", :target => "_blank" %>
		</li>
		<li>
			<%= link_to "Mayfair Declaration of Covenants, Restrictions and Easements", "/855_Mayfair_Declaration_of_Covenants_Restrictions_and_Easements.pdf", :target => "_blank" %>
		</li>
		<li>
			<%= link_to "Mayfair Lease Application", "/Mayfair_Lease_Application.pdf", :target => "_blank" %>
		</li>
		<li>
			<%= link_to "Mayfair Property Info", "/Mayfair_Property_Info.pdf", :target => "_blank" %>
		</li>
	</ol>
</div>

<h3><%= link_to 'BACK HOME', root_path %></h3>
</div>