<div class="container" style="text-align: center">
<br>
<br>
<h1>FREQUENTLY ASKED QUESTIONS</h1>
<br>
<br>

<p><%= link_to 'What Can I Recycle In The Blue Cart?', "http://www.HCFLGov.net/Recycling", :target => "_blank" %></p>

<p><%= link_to 'What Is Our Holiday Trash Collection Schedule?', "http://www.hcflgov.net/en/residents/property-owners-and-renters/trash-and-recycling/holiday-trash-collection-schedule", :target => "_blank" %>

<p><%= link_to 'What Are Our Yard Waste Collection Instructions?', "http://www.tampagov.net/solid-waste/programs/recycling-and-waste-reduction/residential/yard-waste-collection", :target => "_blank" %>

<p><%= link_to 'Where Can I Pay My Electric Bill?', "http://www.tampaelectric.com/residential/payyourbill/", :target => "_blank" %>

<br> 
<br>

<h3><%= link_to 'BACK HOME', root_path %></h3>
</div>